@font-face {
  font-family: calligraphy;
  src: url(./fonts/cherolina/Cherolina.ttf);
}

@font-face {
  font-family: title-basic;
  src: url(./fonts/the_prada/The\ Prada.ttf);
}

@font-face {
  font-family: subtitle;
  src: url(./fonts/AUBREY1__.TTF);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: grid;
  grid-template-rows: 1fr 2.5fr;
  justify-content: space-between;
  padding: 0px;
  font-family: serif;
}

/* header */
header {
  padding: 1.2em 16px;
  display: flex;
  justify-content: start;
  background-color: #868f74;
  color: #f5f0ea;
  position: sticky;
  top: 0px;
}

.nav-title {
  display: flex;
  gap: 15px;
}

.nav-title h3 {
  font-family: calligraphy;
  margin: 0px;
  align-self: center;
  font-size: 1.5em;
}

header img {
  width: 1.8em;
  height: 1.8em;
  color: white;
  align-self: center;
}
header a {
  color: #f5f0ea;
  text-decoration: none;
  align-self: center;
  font-size: 0.8em;
}

.top {
  display: flex;
  background-color: #f5f0ea;
  border-bottom: 20px solid #f5f0ea;
}

.title {
  padding: 2em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title h2 {
  font-size: 3em;
  text-align: center;
  font-family: calligraphy;
  text-shadow: 5px 5px 3px #e3dbce;
}

.title h1 {
  font-size: 4em;
  text-shadow: 5px 5px 3px #e3dbce;
  font-family: serif;
}

.title h3 {
  margin-top: -35px;
  font-family: subtitle;
}

/* Recipes List */

.middle {
  padding: 10em 22em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  grid-gap: 1em min(1em);

  background-color: #f5f0ea80;
}

.pizza {
  /* margin-top: 13em; */
  width: 17em;
  height: 20em;
  display: flex;
  flex-direction: column;
  background-color: #f5f0ea;
  border-radius: 1em;
  box-shadow: 0px 1px 3px #b8b3b3;
}
.pizza a:visited {
  color: black;
}

.pizza img {
  width: 220px;
  font-size: 1em;
  border-radius: 10em;
  margin-top: -100px;
  align-self: center;
  box-shadow: 0px 6px 5px #838080;
}

.pizza p {
  padding: 0px 20px;
  margin-top: 20px;
}

.stars {
  color: #868f74;
}

.pizza a {
  padding: 0px 20px;
  font-size: 1.5em;
  margin-top: -0.4em;
  text-decoration: none;
  font-family: subtitle;
}

.pizza a:hover {
  color: #868f74;
  font-size: 1.6em;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  padding: 14px;
  background-color: #868f74;
  color: #f5f0ea;
  gap: 8px;
  align-items: center;
  font-family: serif;
}

#footer-sig {
  font-family: calligraphy;
  margin: 0px;
  font-size: 1.5em;
}
