@font-face {
  font-family: calligraphy;
  src: url(./fonts/cherolina/Cherolina.ttf);
}

@font-face {
  font-family: title-basic;
  src: url(./fonts/the_prada/The\ Prada.ttf);
}

@font-face {
  font-family: subtitle;
  src: url(./fonts/AUBREY1__.TTF);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */
header {
  padding: 1.2em 16px;
  display: flex;
  justify-content: space-between;
  background-color: #868f74;
  color: #f5f0ea;
  position: sticky;
  top: 0px;
}

.nav-title {
  display: flex;
  gap: 15px;
}

.nav-title h3 {
  font-family: calligraphy;
  margin: 0px;
  align-self: center;
  font-size: 1.5em;
}

header img {
  width: 1.8em;
  height: 1.8em;
  color: white;
  align-self: center;
}
header a {
  color: #f5f0ea;
  text-decoration: none;
  align-self: center;
  font-size: 0.8em;
}

/* Main */
.grid-container {
  padding: 100px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
}

#signature {
  font-size: 1.5em;
  text-align: center;
  font-family: calligraphy;
  margin: 0;
  text-shadow: 5px 5px 3px #e3dbce;
}

/* Pizza Details */
#details {
  grid-area: 1/1/2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-title {
  text-align: center;
  width: 80%;
  border-bottom: 1px solid black;
  border-radius: 5px;
  margin-top: -2em;
}
.recipe-title h1 {
  font-family: subtitle;
  font-size: 4em;
  font-weight: normal;
  letter-spacing: 0.5em;
  margin-bottom: 5px;
}

#origin {
  font-family: title-basic;
  margin-top: 10px;
}

#recipe-detail {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
}

#recipe-detail > div {
  text-align: center;
}

.detail-icon {
  margin-top: 20px;
  width: 40px;
  margin-bottom: -14px;
}

/* Ingredients */
#ingredients-list {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  padding: 3em;
  padding-top: 1em;
  margin-top: 3em;
  background-color: #868f7440;
  border-radius: 1em 0em 0em 0em;
  letter-spacing: 0.5em;
  font-family: subtitle;
}

#ingredients-list > div {
  display: flex;
  flex: row;
  justify-content: space-between;
  letter-spacing: 0em;
  font-family: serif;
  padding: 0em 3em;
}

#ingredients-list div table {
  font-size: 1.2em;
}

tr:nth-child(even) {
  background-color: #868f7420;
}

/* Pizza Image */
#large-pic {
  grid-area: 3/1/4/2;
  background-color: #868f7440;
  border-radius: 0em 0em 0em 1em;
  text-align: center;
}

#large-pic img {
  max-width: 100%;
  max-height: 100%;
  padding: 2em;
  border-radius: 5em 5em 5em 5em;
}

/* Instructions */
#steps {
  grid-column: 2/3;
  grid-row: 2/4;
  padding: 3em;
  padding-top: 1em;
  margin-top: 3em;
  letter-spacing: 0.5em;
  background-color: #f5f0ea30;
  border-radius: 0em 1em 0em 1em;
  font-family: subtitle;
}

#steps ol {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  letter-spacing: normal;
  font-family: serif;
  font-size: 1.2em;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  padding: 14px;
  background-color: #868f74;
  color: #f5f0ea;
  gap: 8px;
  align-items: center;
  font-family: serif;
}

#footer-sig {
  font-family: calligraphy;
  margin: 0px;
  font-size: 1.5em;
}
